# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [0]:
import pandas as pd
import numpy as np

In [0]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [0]:
black_friday.head()

   User_ID Product_ID Gender  ... Product_Category_2  Product_Category_3 Purchase
0  1000001  P00069042      F  ...                NaN                 NaN     8370
1  1000001  P00248942      F  ...                6.0                14.0    15200
2  1000001  P00087842      F  ...                NaN                 NaN     1422
3  1000001  P00085442      F  ...               14.0                 NaN     1057
4  1000002  P00285442      M  ...                NaN                 NaN     7969

[5 rows x 12 columns]

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [0]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return black_friday.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [0]:
def q2():
    # Retorne aqui o resultado da questão 2.
     return black_friday.query('Age == "26-35" and Gender ==  "F"').shape[0]

49348

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [0]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return black_friday.User_ID.nunique()

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [0]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return black_friday.dtypes.nunique()

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [0]:
def q5():
    # Retorne aqui o resultado da questão 5.
    return black_friday[black_friday.isna().any(axis=1)].shape[0]/q1()[0]

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [0]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return int(black_friday.isnull().sum().max())

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [0]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return black_friday['Product_Category_3'].mode()[0]

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [0]:
def q8():
    # Retorne aqui o resultado da questão 8.
    purchase = black_friday['Purchase']
    norm = (purchase - purchase.min()) / (purchase.max() - purchase.min())
    
    return float(norm.mean())

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [0]:
def q9():
    # Retorne aqui o resultado da questão 9.
    purchase = black_friday['Purchase']
    norm = (purchase - purchase.mean()) / purchase.std()
    return int(((norm >= -1) & (norm <= 1)).sum())

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [0]:
def q10():
    # Retorne aqui o resultado da questão 10.
    return bool(np.isnan(black_friday[black_friday
                          .Product_Category_2.isna()]
                          .Product_Category_3.unique()).all())